.card {
		width: 95vw;
		margin-left: 2.5vw;
		align-self: flex-start;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid;
		border-radius: 15px;
}

.cardHead {
		box-sizing: border-box;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-right: 10px;
}

.info {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		/*gap: 30px;*/
		padding-left: 10px;
}

.exerciseName {
		/*z-index: -5;*/
		font-size: 1em;
}

.img {
		max-width: 50px;
		max-height: 50px;
		margin: 10px 0 10px 10px;
}

.arrow {
		margin-right: 10px;
		align-self: center;
		font-size: 2em;
		color: #bcbcbc;
}

.row {
		display: flex;
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		gap: 20px;
		padding: 15px 20px;
}

.cell {
		background-color: black;
		padding: 20px;
		border-radius: 30px;

}

.setIndex {
		font-size: 1.5em;
		color: #787878;
}

.cardFooter {
		display: grid;
		grid-template-columns: 20% 60% 20%;
		width: 100%;
		min-width: 260px;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 15px 0;
}

