.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
}

.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		width: 100%;
		/*margin-bottom: 60px;*/
		padding-bottom: 15px;
		max-height: calc(100vh - 260px);
		overflow-y: scroll;
		overflow-x: hidden;
}

.listWithShadow {
		composes: list;
		border-radius: 10px;
		box-shadow: 0 8px 10px #dcdcdc;
}

.footer {
		position: fixed;
		bottom: 0;
		padding: 15px;
		width: 100%;
		display: grid;
		justify-items: center;
		grid-template-columns: 20% 60% 20%;
		grid-template-rows: 100%;
}

.addButton {
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
		bottom: 0;
}
