.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
}

.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-x: hidden;
		overflow-y: scroll;
		gap: 15px;
		width: 100%;
		padding-bottom: 15px;
		max-height: calc(100dvh - 185px);
		border-radius: 10px;
}

.footer {
		position: fixed;
		bottom: 0;
		padding: 15px;
		margin-bottom: 20px;
		width: 100%;
		display: grid;
		justify-items: center;
		/*grid-template-columns: 20% 60% 20%;*/
		/*grid-template-rows: 100%;*/
}

/*@media (max-width: 366px) {*/
/*		.list {*/
/*				max-height: calc(100vh - 290px);;*/
/*		}*/
/*}*/
