.calendar {
		margin-bottom: 2em;
}

.dayNumber {
		display: flex;
		border-radius: 50%;
		border: 1px solid;
		align-items: center;
		justify-content: center;
		width: 2em;
		height: 2em;
}

.days {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		height: 100%;
		width: 100vw;
		padding-bottom: 1em;
		padding-top: 1em;
		border-radius: 10px;
		box-shadow: 0 8px 10px #dcdcdc;
}

.day {
		display: flex;
		flex-direction: column;
		align-items: center;
}

.month {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		font-size: 1em;
		color: rgba(0, 0, 0, 0.8);
		font-weight: bold;
}


.today {
		composes: dayNumber;
		background-color: #000000;
		color: #ffffff;
}

.selectedDay {
		composes: dayNumber;
		background-color: rgba(62, 65, 255, 0.18);
}

