.calendar {
		border-radius: 10px;
		box-shadow: 0 8px 10px #dcdcdc;
}

.dayNumber {
		display: flex;
		border-radius: 50%;
		border: 1px solid;
		align-items: center;
		justify-content: center;
		width: 2em;
		height: 2em;
}

.days {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		height: 100%;
		width: 100dvw;
		padding-top: 0.5em;
}

.month {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		font-size: 1em;
		color: rgba(0, 0, 0, 0.8);
		font-weight: bold;
}






